<style>
    body
    {
        background-color: #F4FAFF;
        height: 750px;
        margin: 0px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
        <div class="container">
            <!-- <img src="../assets/Slices/png/Mask Group 23.png" alt=""> -->
            <div class="row">
                <!-- opacity: 50%; -->
              <div class="col-8"  style="background-color: white;margin-top: 5%;border-radius: 25px;">
                <h4 style="text-align: center;padding-top: 15px;">منصة لبيك لتقديم خدمات الدعم الفني</h4>
                <div class="container" style="text-align: center;">
                    <div class="row align-items-start" >
                      <div class="col" >
                        <img src="../assets/Slices/png/صيانة الكمبيوتر.png" alt="">
                        <p>صيانة الكمبيوتر</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة الكاميرات.png" alt="">
                        <p>صيانة الكاميرات</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة أعطال الانترنت.png" alt="">
                        <p>صيانة أعطال الانترنت</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة أجهزة البصمة.png" alt="">
                        <p>صيانة اجهزة البصمة</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة أعطال الشبكة.png" alt="">
                        <p>صيانة أعطال الشبكة</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/1c095513-73e1-4adc-851c-0e456bf2c9e8.png" alt="">
                        <p>صيانة أعطال السنترال</p>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col">
                        <img src="../assets/Slices/png/طابعات وآلات تصوير.png" alt="">
                        <p>طابعات والالات تصوير</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/تمديد كيابل جديدة.png" alt="">
                        <p>تمديد كبابل جديدة</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/طلب زيارة فحص ومعاينة.png" alt="">
                        <p>طلب زيارة فحص ومعاينة</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة السيرفر.png" alt="">
                        <p>صيانة السيرفر</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة تمديدات موجودة.png" alt="">
                        <p>صيانة تمديدات موجودة</p>
                      </div>
                      <div class="col">
                        <img src="../assets/Slices/png/صيانة الشبكات اللاسلكية.png" alt="">
                        <p>صيانة الشبكات اللاسلكية</p>
                      </div>
                    </div>
                    <div class="row align-items-end">
                      <div class="col-sm-4">
                        <img src="../assets/Slices/png/توريد قطع غيار.png" alt="">
                        <p>توريد قطع غيار</p>
                      </div>
                      <div class="col-sm-4">
                        <img src="../assets/Slices/png/توريد وتركيب أجهزة.png" alt="">
                        <p>توريد وتركيب اجهزة</p>
                      </div>
                      <div class="col-sm-4">
                        <img src="../assets/Slices/png/صيانة الشبكات اللاسلكية.png" alt="">
                        <p>صيانة برنامج حسيب</p>
                      </div>
                    </div>
                  </div>
              </div>



              <div class="col-4" style="margin-top: 5%;">
                
                    
                    <!--  (ngSubmit)="onSubmit()" -->
                    <form style="background-color: white;border-radius: 25px;padding: 10%;">
                        <img src="../assets/Slices/png/Mask Group 17.png" style="display: block;margin: auto;" alt="gfgfg">
                        <p style="color:#0A6DCA;text-align: center;">من فضلك</p>
                        <p style="color:#818181;text-align: center;">املا بياناتك للدخول الى لوحة التحكم</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="اسم المستخدم" style="text-align: right;width: 20%;background-color: #818181 ;opacity:50%;">
                            <span class="input-group-text" id="basic-addon2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.431" height="23.431" viewBox="0 0 23.431 23.431">
                                    <path id="ic_perm_identity_24px" d="M15.716,6.782A3.075,3.075,0,1,1,12.64,9.858a3.075,3.075,0,0,1,3.075-3.075m0,13.18c4.349,0,8.933,2.138,8.933,3.075v1.611H6.782V23.038c0-.937,4.584-3.075,8.933-3.075M15.716,4a5.858,5.858,0,1,0,5.858,5.858A5.856,5.856,0,0,0,15.716,4Zm0,13.18C11.806,17.18,4,19.143,4,23.038v4.393H27.431V23.038C27.431,19.143,19.626,17.18,15.716,17.18Z" transform="translate(-4 -4)" fill="#0a6dca"/>
                                  </svg>
                            </span>
                        </div>
            
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="كلمة المرور" style="text-align: right;width: 20%;background-color: #818181 ;opacity:50%;">
                            <span class="input-group-text" id="basic-addon2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.923" height="24.534" viewBox="0 0 18.923 24.534">
                                    <path id="ic_lock_open_24px" d="M13.462,19.693A2.337,2.337,0,1,0,11.1,17.356,2.358,2.358,0,0,0,13.462,19.693Zm7.1-10.515H19.375V6.841a5.914,5.914,0,0,0-11.827,0H9.8a3.667,3.667,0,0,1,7.333,0V9.178H6.365A2.358,2.358,0,0,0,4,11.515V23.2a2.358,2.358,0,0,0,2.365,2.337H20.558A2.358,2.358,0,0,0,22.923,23.2V11.515A2.358,2.358,0,0,0,20.558,9.178Zm0,14.02H6.365V11.515H20.558Z" transform="translate(-4 -1)" fill="#0a6dca"/>
                                  </svg>
                            </span>
                        </div>
            
                        <div class="input-group mb-3">
                    
                            <input type="number" class="form-control" placeholder="الرمز المرئي" style="text-align: right;width: 20%;background-color: #818181 ;opacity:50%;">
                            <span class="input-group-text" id="basic-addon2">
                                <svg id="qr-code-scan" xmlns="http://www.w3.org/2000/svg" width="26.39" height="26.39" viewBox="0 0 26.39 26.39">
                                    <g id="Group_39959" data-name="Group 39959">
                                      <path id="Path_33880" data-name="Path 33880" d="M0,.825A.825.825,0,0,1,.825,0H5.773a.825.825,0,1,1,0,1.649H1.649V5.773A.825.825,0,1,1,0,5.773Zm19.793,0A.825.825,0,0,1,20.617,0h4.948a.825.825,0,0,1,.825.825V5.773a.825.825,0,1,1-1.649,0V1.649H20.617a.825.825,0,0,1-.825-.825ZM.825,19.793a.825.825,0,0,1,.825.825v4.123H5.773a.825.825,0,1,1,0,1.649H.825A.825.825,0,0,1,0,25.566V20.617a.825.825,0,0,1,.825-.825Zm24.741,0a.825.825,0,0,1,.825.825v4.948a.825.825,0,0,1-.825.825H20.617a.825.825,0,0,1,0-1.649h4.123V20.617A.825.825,0,0,1,25.566,19.793ZM6.6,6.6H8.247V8.247H6.6Z" fill="#0a6dca"/>
                                      <path id="Path_33881" data-name="Path 33881" d="M14.247,6H6v8.247h8.247Zm-6.6,1.649H12.6V12.6H7.649Zm3.3,13.2H9.3v1.649h1.649Z" transform="translate(-2.701 -2.701)" fill="#0a6dca"/>
                                      <path id="Path_33882" data-name="Path 33882" d="M14.247,20.247H6v8.247h8.247ZM7.649,21.9H12.6v4.948H7.649Zm13.2-9.9h1.649v1.649H20.845Z" transform="translate(-2.701 -5.402)" fill="#0a6dca"/>
                                      <path id="Path_33883" data-name="Path 33883" d="M25.649,6H33.9v8.247H25.649ZM27.3,7.649V12.6h4.948V7.649ZM24,15.9v3.3h1.649v1.649H24v1.649h3.3V19.2h1.649v3.3H30.6V20.845h3.3V19.2H28.948V15.9Zm3.3,3.3H25.649V17.546H27.3Zm6.6,3.3H32.247v1.649h-3.3v1.649H33.9Zm-6.6,3.3V24.143H24v1.649Z" transform="translate(-10.805 -2.701)" fill="#0a6dca"/>
                                      <path id="Path_33884" data-name="Path 33884" d="M36,25.649h3.3V24H36Z" transform="translate(-16.207 -10.805)" fill="#0a6dca"/>
                                    </g>
                                  </svg> 
                            </span>
                        
                        <!-- <div>
                            <input type="number" class="form-control" placeholder="الرمز المرئي" style="text-align: right;width: 20%;background-color: #818181 ;opacity:50%;">
                            <span class="input-group-text" id="basic-addon2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24.998" height="25.105" viewBox="0 0 24.998 25.105">
                                    <g id="noun_Rotate_1344202" transform="translate(0.5 0.5)">
                                      <path id="Path_981" data-name="Path 981" d="M26.814,26.962a.789.789,0,0,1-.8.8H22.8a.789.789,0,0,1-.8-.8V23.775a.8.8,0,0,1,1.607,0v1.42A10.4,10.4,0,0,0,17.2,6.607.8.8,0,0,1,17.2,5a11.993,11.993,0,0,1,7.74,21.159h1.071A.824.824,0,0,1,26.814,26.962ZM17.2,27.5A10.4,10.4,0,0,1,10.8,8.91v1.42a.8.8,0,0,0,1.607,0V7.143a.789.789,0,0,0-.8-.8H8.387a.8.8,0,0,0,0,1.607H9.459A11.993,11.993,0,0,0,17.2,29.1a.8.8,0,1,0,0-1.607Z" transform="translate(-5.2 -5)" fill="#0a6dca" stroke="#0a6dca" stroke-width="1"/>
                                    </g>
                                  </svg>
                                  
                            </span>
                        </div> -->
                        </div>
                        
                        <p style="color:#0A6DCA;text-align: right;">تذكرني</p>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #0A6DCA;padding-left: 30%;padding-right: 30%;display: block;margin: auto;">دخول</button>
                        <br>
                        <div style="text-align: center;">
                        <a href="#" style="text-decoration: none;">نسيت كلمة المرور؟</a>
                        <p>ليس لديك حساب؟<a href="#">سجل الان</a></p>
                        <p style="color:#0A6DCA ;">جميع الحقوق محفوظة لمؤسسة بياناتك لتقنية المعلومات</p>
                    </div>
                        
                    </form>
                    
                    </div>
              </div>
              <!-- <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div> -->
            
          </div>
          
</body>
</html>
